.navBar {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 9999;
    background-color: #ffffff;
}

.navbar {
    padding: 0;
}

.navBar-main {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.navBar-logo img {
    margin-bottom: 0;
    max-height: 80px;
}

.navBar-main ul li {
    margin-left: 32px;
    position: relative;
}

.navBar-main ul li a {
    padding: 10px 0px !important;
    font-size: 17px;
    font-weight: 400;
    color: #0075b8!important;
    text-transform: capitalize;
}

.call-number{
    display: flex;
    align-items: center;
    justify-content: center;
}
.call-number p{
    margin: 0;
    color: #0075b8;
    font-size: 25px;
    font-weight: 500;
}
.call-number svg{
    margin: 0;
    color: #0075b8;
    font-size: 30px;
    font-weight: 500;
    margin-right: 15px;
}


@media (min-width: 1200px) {
    .navBar-main {
        max-width: 1140px;
    }
}

@media screen and (min-width: 992px) {

    .navbar-expand-lg .navbar-collapse {
        justify-content: center;
    }

    .navbar-nav .nav-item .dropdown-menu.mega-menu::before {
        content: "";
        border-bottom: 13px solid white;
        border-left: 11px solid rgba(0, 0, 0, 0);
        border-right: 11px solid rgba(0, 0, 0, 0);
        right: initial;
        display: inline-block;
        position: absolute;
        top: -12px;
        left: 50%;
        margin-left: 0;
        transform: translate(-50%);
    }
}